<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="container">
        
        <% for (sneaker of sneakers) { %>

        <div class="sneakerbox">
          <form action="/sneakers/<%= sneaker._id %>?_method=DELETE" method="POST">
            <button type="submit" value="Delete">X</button>
          </form>
          <a href="/sneakers/<%= sneaker._id %>">
            <img src="<%= sneaker.image %>"> </img>
          </a>
          <h2>
            <%= sneaker.model %> 
          </h2>
        </div>  
      
        <% } %>
      </div>
      <a href="/sneakers/new"><button>Add a Sneaker</button></a>
      <a href="/user/logout"><button>Logout</button></a>
    </main>
  </body>
</html>