<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>

        <article x-data="{showTools: false}">
          <div><img class="showImage" src="<%= sneaker.image %>"></div>
          <h2><%= sneaker.model %> - <%= sneaker.highTop ? "High Top" : "Low Top" %></h2>
          <h3><%= sneaker.color %> Colorway</h3>
          <button x-on:click="showTools = !showTools">Show Options</button>
          <div x-show="showTools" x-transition>
          <a href="/sneakers/<%= sneaker._id %>/edit"><button>Edit</button></a>
          <form action="/sneakers/<%= sneaker._id %>?_method=DELETE" method="POST">
            <button type="submit" value="Delete">Delete</button>
          </form>
          <a href="/sneakers/"><button>Back to Main</button></a>
          </div>
        </article>

      </div>
    </main>
  </body>
</html>